@import 'tailwindcss';

/* Additional styles */
@import './additional-styles/utility-patterns.css' layer(components);
@import './additional-styles/theme.css';

/* Canadian Theme Colors */
:root {
  --color-canadian-red: #D8292F;
  --color-canadian-blue: #0077C8;
}

/* Applying the new theme */
.h1, .h2, .h3, .h4 {
  color: #333; /* Darker text for better contrast on white background */
}
.text-blue-600 {
  color: var(--color-canadian-red) !important;
}
.bg-blue-600 {
  background-color: var(--color-canadian-red) !important;
}
.hover\:bg-blue-700:hover {
    background-color: #b92329 !important; /* A darker red for hover */
}
.border-blue-500 {
    border-color: var(--color-canadian-blue) !important;
}
.text-blue-300 {
    color: var(--color-canadian-blue) !important;
}
.bg-linear-to-t {
    background-color: var(--color-canadian-red);
    background-image: none !important;
}


/* Parallax scroll effect */
.parallax-container {
    height: 60vh;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
}

.parallax-image {
    width: 100%;
    height: 100vh; /* Taller than container to allow for scrolling */
    object-fit: cover;
    position: absolute;
    top: -40vh; /* Start with the image shifted up */
    left: 0;
    z-index: -1;
}

@plugin "@tailwindcss/forms" {
  strategy: base;
}
@plugin "@tailwindcss/typography" {
  strategy: base;
}

@theme {
  --font-inter: Inter, sans-serif;
  --font-mono: Roboto Mono, monospace;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-base--letter-spacing: -0.017em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-lg--letter-spacing: -0.017em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-xl--letter-spacing: -0.017em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.415;
  --text-2xl--letter-spacing: -0.037em;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.3333;
  --text-3xl--letter-spacing: -0.037em;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.2777;
  --text-4xl--letter-spacing: -0.037em;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.037em;
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;
  --text-6xl--letter-spacing: -0.037em;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-7xl--letter-spacing: -0.037em;

  --animate-code-1: code-1;
  --animate-code-2: code-2;
  --animate-code-3: code-3;
  --animate-code-4: code-4;
  --animate-code-5: code-5;
  --animate-code-6: code-6;
  --animate-breath: breath;
  --animate-float: float;
  --animate-line: line;
  --animate-infinite-scroll: infinite-scroll;  

  @keyframes code-1 {
    0% {
      opacity: 0;
    }
    2.5% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes code-2 {
    16.2% {
      opacity: 0;
    }
    18.75% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes code-3 {
    32.5% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes code-4 {
    48.75% {
      opacity: 0;
    }
    51.25% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes code-5 {
    65% {
      opacity: 0;
    }
    72.5% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes code-6 {
    81.25% {
      opacity: 0;
    }
    83.75% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes breath {
    0%,
    100% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.1);
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }
  @keyframes line {
    0%,
    100% {
      left: 0;
      opacity: 0;
    }
    50% {
      left: 100%;
      transform: translateX(-100%);
    }
    10%,
    40%,
    60%,
    90% {
      opacity: 0;
    }
    25%,
    75% {
      opacity: 1;
    }
  }
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}